<h1 align="center">Welcome To ShoeStack</h1>
<body>
<div align="right" style="vertical-align: top;"><%= link_to "Login",  login_path %></div><br>
<div align="right" style="vertical-align: top;"><%= link_to "Create Account",  new_user_path %></div>

<img src="https://i.imgur.com/hBLgg35.jpg" style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/800283_1.jpg" style="float: left; width: 28%; margin-left: 2%; margin-right: 2%; margin-bottom: 0.5em;">
<img src="https://i.imgur.com/OZYQBcb.jpg" style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/801781_01.jpg " style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/801820_1_2.jpg" style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/802783_01.jpg" style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/803537_2.jpg" style="float: left; width: 28%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 0.5em;">
<img src="https://www.flightclub.com/media/catalog/product/cache/1/image/1600x1140/9df78eab33525d08d6e5fb8d27136e95/8/0/801894_1.jpg" style="float: left; width: 28%; margin-left: 2%; margin-right: 2%; margin-bottom: 0.5em;">
<img src="https://i.imgur.com/EvjtDhO.jpg" style="float: left; width: 28%; margin-left: 2%; margin-right: 2%; margin-bottom: 0.5em;">







<p style="clear: both;">

</body>
