<h1>Shoe List</h1>

<select name="size-filter" >
  <% @sizes.each do |size| %>
<option value= <%= size %> ><%= "Size #{size}" %> </option>
<% end %>
</select>


</div>
<ul>
  <% @shoes.each do |shoe| %>
    <li><%= link_to shoe.name, shoe_path(shoe) %></li>
  <% end %>
</ul>
<img src="https://i.imgur.com/hBLgg35.jpg" height="200">
